.white{background: #fff;}
.vh-100{height: 100vh}
@media only screen and (max-width: 600px) {
  
  .card-new{display: none;}

  #login aside, #register aside {
   
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) !important;
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0) !important;
    
}

}
@media (max-width: 767px) {
 #login aside,
 #register aside {
  width:100%;
  padding:30px;
  left:0;
  margin:0
 }
}
#login aside,
#register aside {
 width:100%;
 -webkit-box-shadow:0px 0px 30px 0px rgba(0,0,0,0.5);
 -moz-box-shadow:0px 0px 30px 0px rgba(0,0,0,0.5);
 box-shadow:0px 0px 30px 0px rgb(217, 230, 255);
 padding:50px 60px 100px 60px;
 /*! margin-left:-215px; */
 /*! position:absolute; */
 /*! left:50%; */
 /*! top:0; */
 /*! overflow-y:auto; */
 background-color:#fff;
 /*! min-height:100vh */
 border-radius: 5px;
}
#login figure,
#register figure {
 text-align:center;
 border-bottom:1px solid #ededed;
 margin:-45px -60px 25px -60px;
 padding:20px 60px 25px 60px
}
.add_bottom_15 {
 margin-bottom:15px
}

.add_bottom_15 {
    margin-bottom: 15px;
}
a#forgot {
 color:#999;
 font-weight:500;
 font-size:13px;
 font-size:0.8125rem
}
a#forgot {
 color:#999;
 font-weight:500;
 font-size:13px;
 font-size:0.8125rem
}
.font-10 {
    font-size: 10px !important;
}
.form-control {
 height:calc(2.55rem + 2px);
 font-size:14px;
 font-size:0.875rem;
 -webkit-border-radius:3px;
 -moz-border-radius:3px;
 -ms-border-radius:3px;
 border-radius:3px;
 border:2px solid #f0f0f0;
 background: #f4f4f4;
}

.form-control:focus {
    color: #495057;
    background-color: #f4f4f4;
    border-color: #ddd;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, 0);
}
#login aside form,
#register aside form {
 /*! margin-bottom:60px; */
 display:block
}
#login aside form .form-group input,
#register aside form .form-group input {
 padding-left:10px;
 font-weight: 500;
}
#login aside form .form-group i,
#register aside form .form-group i {
 font-size:21px;
 font-size:1.3125rem;
 position:absolute;
 left:12px;
 top:34px;
 color:#ccc;
 width:25px;
 height:25px;
 display:block;
 font-weight:400 !important
}
#login aside .copy,
#register aside .copy {
 text-align:center;
 position:absolute;
 height:30px;
 left:0;
 bottom:30px;
 width:100%;
 color:#999;
 font-weight:500
}
.form-group {
 position:relative
}
a {
 color:#757575;
 text-decoration:none;
 -moz-transition:all 0.3s ease-in-out;
 -o-transition:all 0.3s ease-in-out;
 -webkit-transition:all 0.3s ease-in-out;
 -ms-transition:all 0.3s ease-in-out;
 transition:all 0.3s ease-in-out;
 outline:none
}
a:hover,
a:focus {
 color:#111;
 text-decoration:none;
 outline:none
}
a.btn_1,
.btn_1 {
 border:none;
 color:#fff;
 background:#1a7ff2;
 outline:none;
 cursor:pointer;
 /*! display:inline-block; */
 text-decoration:none;
 padding:10px 15px;
 color:#fff;
 font-weight:600;
 text-align:center;
 line-height:1;
 -moz-transition:all 0.3s ease-in-out;
 -o-transition:all 0.3s ease-in-out;
 -webkit-transition:all 0.3s ease-in-out;
 -ms-transition:all 0.3s ease-in-out;
 transition:all 0.3s ease-in-out;
 -webkit-border-radius:3px;
 -moz-border-radius:3px;
 -ms-border-radius:3px;
 border-radius:3px;
 color: #fff !important;
}
a.btn_1:hover,
.btn_1:hover {
 background-color:#004dda;
 color:#fbf6f6 !important;
}
a.btn_1.full-width,
.btn_1.full-width {
 display:block;
 width:100%;
 text-align:center;
 margin-bottom:5px
}
a.btn_1.full-width.purchase,
.btn_1.full-width.purchase {
 background-color:#004dda
}
a.btn_1.full-width.purchase:hover,
.btn_1.full-width.purchase:hover {
 background-color:#32a067;
 color:#fff !important
}
a.btn_1.full-width.wishlist,
.btn_1.full-width.wishlist {
 border-color:#555;
 color:#555
}
a.btn_1.full-width.wishlist:hover,
.btn_1.full-width.wishlist:hover {
 color:#fff !important;
 background-color:#555;
 border-color:#555
}
a.btn_1.medium,
.btn_1.medium {
 font-size:16px;
 font-size:1rem;
 padding:18px 40px
}
a.btn_1.rounded,
.btn_1.rounded {
 -webkit-border-radius:25px !important;
 -moz-border-radius:25px !important;
 -ms-border-radius:25px !important;
 border-radius:5px !important;
}
a.btn_1.outline,
.btn_1.outline {
 border:2px solid #004dda;
 color:#004dda;
 padding:11px 40px;
 background:none
}
a.btn_1.outline:hover,
.btn_1.outline:hover {
 background:#0054a6;
 color:#fff;
 border-color:#0054a6
}
a.btn_1.outline:focus,
.btn_1.outline:focus {
 outline:none
}
.add_top_10 {
 margin-top:10px
}
strong {
 font-weight:600
}
label {
 font-weight:500;
 margin-bottom:3px
}
#login aside form,
#register aside form {
 /*! margin-bottom:60px; */
 display:block
}
#login aside form .form-group input,
#register aside form .form-group input {
 padding-left:10px;
 font-weight: 500;
}
#login aside form .form-group i,
#register aside form .form-group i {
 font-size:21px;
 font-size:1.3125rem;
 position:absolute;
 left:12px;
 top:34px;
 color:#ccc;
 width:25px;
 height:25px;
 display:block;
 font-weight:400 !important
}
#login aside .copy,
#register aside .copy {
 text-align:center;
 position:absolute;
 height:30px;
 left:0;
 bottom:30px;
 width:100%;
 color:#999;
 font-weight:500
}
#login aside h3{margin-bottom: 50px; text-transform: uppercase;color: #004dda;}
.container_check input:checked ~ .checkmark:after {
 display:block
}
#login aside h3{margin-bottom: 50px; text-transform: uppercase;color: #004dda;}
h1,
h2,
h3,
h4,
h5,
h6 {
 color:#333
}
html * {
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale
}
body {
 font-size:0.875rem;
 line-height:1.6;
 font-family: 'Montserrat', sans-serif;
 color:#555
}
.errorMessage {
    color: red;
    text-shadow: 0px 0px 2px rgba(150, 155, 150, 1);
    text-align: left;
    font-size: 13px;
  }
  .input-label {
    font-weight: 600;
  }
  ::-webkit-input-placeholder {
    /* Edge */
    font-size: 12px !important;
  }
  .forgot_heading {
    margin-bottom: 25px !important;
  }
  .d-none {
    display: none !important;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
span.login-link{
  color: #007bff;
  font-weight: 600;
  cursor: pointer;
}